.portfolio_layout_wrap {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    width:85%;
    margin:auto;
    height:auto;
    overflow-y:auto;
    color:#fff;
    font-family: "Agdasima", sans-serif;
}